@import "@visuallyjs/browser-ui/css/visuallyjs.css";
@import "@visuallyjs/browser-ui-angular/css/visuallyjs-angular.css";
@import "./app/workflow.css";

.my-container {
    width:100vw;
    height:100vh;
    position:relative;
    outline:1px solid;
}

.vjs-surface {
    width:100%;
    height:100%;
}

vjs-miniview {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
app-action-browser {
  overflow: auto;
}
